.borderRed{border: 2px solid red;}


#chat_container{
    height: 500px;
}

#chat_entry_container{
    /*height: 40px;*/
    margin-top: 5px;
}

    #message{
        height: 30px;
        margin: 3px 0;
    }